@page
@model MyApp.Namespace.AddModel
@{
}

<h1>Add event</h1>

<form method="post">
    <input type = "text" name = "name">
    <input type = "text" name = "Bravo">
    <input type = "submit" name = "submitButtonText">
</form>


<partial name="/Views/Shared/_LinkListPartial.cshtml" />
